{{#each myFavorites.favorites as |favorite|}}
  {{#link-to 'question'  question.id}}<p>{{favorite.content}} - {{favorite.date}}</p>{{/link-to}}
  <button {{action 'removeFromFavorites' favorite}}>Remove</button>
{{/each}}
