{{#each myFavorites.favorites as |favorite|}}
  {{#link-to 'question'  question.id}}{{favorite.content}} - {{favorite.date}}{{/link-to}}
  <button {{action 'removeFromFavorites' favorite}}>Remove</button>
{{/each}}
